# Theme
source ~/.mutt/ssl.rc
source ~/.mutt/colors.rc

# Alias
source $alias_file
set sort_alias = alias
set reverse_alias = yes

macro index i 'c!<enter>' 'Go to inbox'
bind index G imap-fetch-mail

# Basic
set pager_stop
set edit_headers

set imap_check_subscribed
set imap_list_subscribed
set imap_passive=no
set imap_idle=yes
set mail_check = 30
set timeout = 60
set imap_keepalive = 300
set move = no
set include
set sort = 'threads'
set sort_aux = 'reverse-last-date-received'
set auto_tag = yes
set send_charset="utf-8"
set sleep_time=0
set editor="nvim +7 -c 'set tw=72 ft=mail noautoindent'"
set wait_key=no
set quit=ask-yes

# No need to tell
unset user_agent
set hidden_host

alternative_order  text/html text/enriched text/plain
auto_view text/html

hdr_order Date From To Cc
alternative_order text/plain text/html *
auto_view text/html
bind editor <space> noop
bind editor <Tab> complete
bind editor ^T complete-query

set record = +INBOX.Sent
set spoolfile = "+INBOX"

set index_format="%4C %Z %[%Y-%m-%d %H:%M] %-30.30L [%4c] %s"

macro index A \
    "<tag-pattern>~N<enter><tag-prefix><clear-flag>N<untag-pattern>.<enter>" \
    "mark all new as read"
