.netrwhist
.vim/view/
.vim/cache/
.vim/plugged/
.config/vifm/vifminfo
.config/nvim/undo
.config/systemd/user/default.target.wants
.taskrc
.config/nvim/bundle/
.config/nvim/plugged/
.config/i3/img/cache
