[user]
    name = Kim Gert Nielsen
    email = kgn@one.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor = vim
[alias]
    br = branch
    ci = commit
    co = checkout
    resetdb = reset --soft HEAD
    fa = fetch --all
    jdiff = !echo '*.json diff=json' | git -c 'core.attributesfile=/dev/stdin' -c 'diff.json.textconv=python -m json.tool' diff
    la = log --decorate --graph --all
    lg = log --decorate --graph
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    logwhat = log --name-status
    pu = pull -r
    ri = rebase -i
    st = status
    re = rebase
[log]
    decorate = true
[push]
    default = simple
